version: '3.8'

services:
  db:
      image: ankane/pgvector
      restart: always
      environment:
        POSTGRES_PASSWORD: admin
      ports:
      - 5432:5432
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
        interval: 10s
        retries: 5
        start_period: 30s
        timeout: 10s

  gateway-api:
      build: gateway/
      ports:
        - 8080:8080
      environment:
        - PORT=8080
        - DATABASE_URL=postgres://postgres:admin@db/postgres?sslmode=disable
      depends_on:
        db:
          condition: service_healthy
          restart: true

  searxng:
      image: searxng/searxng:2026.1.11-cf74e1d9e
      ports:
        - 8888:8080
      volumes:
        - ./searxng/config/:/etc/searxng
        - ./searxng/data/:/var/cache/searxng